<div class="jumbotron">
	<h2>Scrape-N-Store</h2>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="scrapedHeader" class="panel-heading header">
			<h3 class="panel-title">Scraped Articles</h3>
		</div>
		<div class="panel-body border" id="scrapedArticles">
			<!-- list of articles goes here -->
		</div>

	</div>
</div>